.header {
  top: 0px;
  width: 100%;
  height: 83px;
  position: fixed;
  z-index: 99;
  transition: 0.3s ease-in-out;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav_left,
.nav_right ul {
  display: flex;
  align-items: center;
}

.nav h1,
.nav p {
  font-size: 16px;
  font-weight: 700;
}

.nav h1 {
  margin: 0 60px 0 0;
}
.nav p {
  margin: 0 0 0 60px;
}

/* 1 ~ 2, 5 번째 section에서의 header */

.fp-viewing-0 header,
.fp-viewing-1 header,
.fp-viewing-4 header {
  background-color: #fff;
}

.fp-viewing-0 header p a,
.fp-viewing-0 header h1 a,
.fp-viewing-1 header p a,
.fp-viewing-1 header h1 a,
.fp-viewing-4 header p a,
.fp-viewing-4 header h1 a {
  color: #000;
}

/* 3 ~ 4 번째 section에서의 header */

.fp-viewing-2 header,
.fp-viewing-3 header {
  background-color: #000;
}

.fp-viewing-2 header p a,
.fp-viewing-3 header p a,
.fp-viewing-2 header h1 a,
.fp-viewing-3 header h1 a {
  color: #fff;
}

/* opening 애니메이션 */

.nav_left {
  opacity: 0;
  animation: headerOpening_1 1s forwards;
  animation-delay: 5.7s;
}

@keyframes headerOpening_1 {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.nav_right {
  opacity: 0;
  animation: headerOpening_2 1s forwards;
  animation-delay: 6.7s;
}

@keyframes headerOpening_2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
