.open_intro {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  animation: oepning 1s forwards;
  animation-delay: 4s;
  /* display: none; */
}

@keyframes oepning {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
    visibility: hidden;
  }
}

.open_intro {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}

.open_line_height {
  margin: 0 0 70px 0;
}
