@media only screen and (max-width: 768px) {
  /* ABOUT */

  .first_wrap {
    height: 100%;
  }

  .first_left {
    height: 50%;
    padding: 110px 0 0 0;
  }

  .first_left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center top;
  }

  .first_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 50%;
  }

  .first_right h1:nth-child(1) {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    word-spacing: 20px;
    margin: 30px 0 0 0;
  }

  .first_right h1:nth-child(2) {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    word-spacing: 10px;
  }

  .first_right h2 {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin: 20px 0 40px;
  }

  .first_right p {
    font-size: 15px;
    font-weight: 400;
    color: #000;
    line-height: 1.8rem;
    display: none;
  }

  /* 이미지 이벤트 */

  .fp-viewing-0 .first_left {
    overflow: hidden;
  }

  .fp-viewing-0 .first_left img {
    animation: bn_opening 2s forwards;
  }

  @keyframes bn_opening {
    from {
      transform: scale(1.1);
    }
    to {
      transform: scale(1);
    }
  }

  /* opening 애니메이션 */

  .first_left {
    opacity: 0;
    animation: firstOpening_1 1.5s forwards;
    animation-delay: 7.3s;
  }

  @keyframes firstOpening_1 {
    from {
      opacity: 0;
      transform: translateX(-50%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .first_right {
    opacity: 0;
    animation: firstOpening_2 1.5s forwards;
    animation-delay: 7.3s;
  }

  @keyframes firstOpening_2 {
    from {
      opacity: 0;
      transform: translateX(50%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
