.second_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.second_left {
  width: 44.01315789%;
}

.second_left h1 {
  font-size: 60px;
  font-weight: 700;
  color: #000;
}

.second_left h2 {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin: 20px 0 60px;
}

.second_left p {
  font-size: 19px;
  font-weight: 400;
  color: #000;
}

.second_right {
  width: 49.01315789%;
  height: 100%;
}

.second_wrap .swiper {
  height: 100%;
}

.second_wrap .skill_wrap,
.second_wrap .skill_wrap ul {
  height: 100%;
}

.second_wrap .skill_wrap ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second_wrap .skill_wrap li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}

.second_wrap .left_icon_wrap {
  text-align: center;
}

.second_wrap .left_icon_wrap p {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin: 0 0 5px 0;
}

.second_wrap .icon {
  width: 60px;
}

.second_wrap .icon img {
  width: 100%;
}

.second_wrap meter {
  width: 50.604026%;
  height: 30px;
}

.second_wrap label {
  padding: 0 0 20px 0;
}

.second_wrap .score_left {
  font-size: 60px;
  font-weight: 700;
  color: #000;
}

.second_wrap .score_right {
  font-size: 30px;
  font-weight: 700;
  color: #000;
}

/* 스위퍼 스타일 */

.second_wrap .swiper-pagination {
  margin: 0 0 32px 0;
}

.second_wrap .swiper-pagination span {
  background-color: #000;
}

.second_wrap .swiper-button-prev {
  position: absolute;
  top: 97%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #000;
}

.second_wrap .swiper-button-next {
  position: absolute;
  top: 97%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: #000;
}

.second_wrap .swiper-button-next {
  color: #000;
}

/* opening 애니메이션 */

.fp-viewing-1 .second_left {
  opacity: 0;
  animation: secondOpening_1 1.5s forwards;
}

@keyframes secondOpening_1 {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fp-viewing-1 .second_right {
  opacity: 0;
  animation: secondOpening_2 1.5s forwards;
}

@keyframes secondOpening_2 {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
