/* ABOUT */

.first_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.first_left {
  width: 45%;
  height: 77.777777%;
}

.first_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.first_right {
  width: 45%;
}

.first_right h1:nth-child(1) {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  word-spacing: 30px;
}

.first_right h1:nth-child(2) {
  font-size: 60px;
  font-weight: 700;
  color: #000;
  word-spacing: 20px;
}

.first_right h2 {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin: 20px 0 60px;
}

.first_right p {
  font-size: 19px;
  font-weight: 400;
  color: #000;
  line-height: 1.8rem;
}

/* 이미지 이벤트 */

.fp-viewing-0 .first_left {
  overflow: hidden;
}

.fp-viewing-0 .first_left img {
  animation: bn_opening 2s forwards;
}

@keyframes bn_opening {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

/* opening 애니메이션 */

.first_left {
  opacity: 0;
  animation: firstOpening_1 1.5s forwards;
  animation-delay: 7.3s;
}

@keyframes firstOpening_1 {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.first_right {
  opacity: 0;
  animation: firstOpening_2 1.5s forwards;
  animation-delay: 7.3s;
}

@keyframes firstOpening_2 {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
