/* CONTACT ME */

.fourth_section {
  background-color: #000;
}

.fourth_wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fourth_left {
  width: 45%;
}

.fourth_right {
  width: 45%;
}

.fourth_form h1 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}

.fourth_form h2 {
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  margin: 20px 0 60px 0;
}

/* 표 */

.fourth_form ul {
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.fourth_form li {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  padding: 20px;
}

.fourth_form li p:nth-child(1) {
  flex: 1;
}

.fourth_form li p:nth-child(2) {
  flex: 1;
}

.fourth_form li p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

/* 이미지 이벤트 */

.fp-viewing-3 .fourth_img {
  overflow: hidden;
}

.fp-viewing-3 .fourth_img img {
  animation: bn_opening 2s forwards;
}

@keyframes bn_opening {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

/* opening 애니메이션 */

.fp-viewing-3 .fourth_left {
  opacity: 0;
  animation: fourthOpening_1 1.5s forwards;
}

@keyframes fourthOpening_1 {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fp-viewing-3 .fourth_right {
  opacity: 0;
  animation: fourthOpening_2 1.5s forwards;
}

@keyframes fourthOpening_2 {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
