.fourth_section {
  background-color: #000;
}

.fourth_wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fourth_left {
  width: 42.5%;
}

.fourth_right {
  width: 49.01315789%;
}

.fourth_form h1 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}

.fourth_form h2 {
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  margin: 20px 0 44px 0;
}

.fourth_form form {
  border-top: 1px solid #fff;
  padding: 15px 0 0 0;
}

.fourth_form form ul {
  display: flex;
  width: 100%;
  flex: 1;
}

.fourth_form form li {
  display: flex;
  width: 100%;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  margin: 0 0 20px 0;
  padding: 10px;
}

.fourth_form label {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  width: 20%;
}

.fourth_form input {
  width: 80%;
  border-style: none;
  outline: 0;
}

.fourth_form .last_li label {
  width: 10%;
}

.fourth_form .last_li textarea {
  width: 100%;
  outline: 0;
  border: 0;
  resize: none;
}

input,
textarea {
  padding: 10px;
  background-color: #000;
  color: #fff;
}

/* 버튼 호버 이벤트 */

.fourth_form button {
  width: 170px;
  height: 50px;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  transition: 0.5s;
}

.fourth_form button:hover {
  background-color: #fff;
  color: #000;
}

/* 이미지 이벤트 */

.fp-viewing-3 .fourth_img {
  overflow: hidden;
}

.fp-viewing-3 .fourth_img img {
  animation: bn_opening 2s forwards;
}

@keyframes bn_opening {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

/* opening 애니메이션 */

.fp-viewing-3 .fourth_left {
  opacity: 0;
  animation: fourthOpening_1 1.5s forwards;
}

@keyframes fourthOpening_1 {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fp-viewing-3 .fourth_right {
  opacity: 0;
  animation: fourthOpening_2 1.5s forwards;
}

@keyframes fourthOpening_2 {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
